;; shadow-cljs configuration
{:lein {:profile "+cljs"}
 :dev-http {3000 "public"}
 :builds
 {:lib
  {:target :esm
   :runtime :browser
   :modules {:index {:exports {arcade arcade.exports/arcade
                               planetcall planetcall.exports/planetcall}}}
   :output-dir "lib/arcade"}
  :longtime
  {:target :browser
   :output-dir "public/js/longtime"
   :modules {:main {:entries [longtime.web]}}}
  :dimdark
  {:target :browser
   :output-dir "public/js/dimdark"
   :modules {:main {:entries [dimdark.web]}}}}}
