[{:id :standard
  :shape :hexagon
  :gen :default
  :size 12
  :coords
  [[-4 -4]
   [4 -8]
   [8 -4]
   [-8 4]
   [-4 8]
   [4 4]]
  :start
  {:units [{:chassis :infantry :loadout :oldworld-weapons}
           {:chassis :infantry :loadout :engineering}]
   :improvement :stockpile}}
 {:id :triad
  :shape :triangle
  :gen :default
  :size 3
  :coords
  []
  :start
  {:units [{:chassis :infantry :loadout :oldworld-weapons}
           {:chassis :infantry :loadout :engineering}]
   :improvement :stockpile}}
 {:id :duel
  :shape :parallelogram
  :gen :default
  :size 4
  :coords
  []
  :start
  {:units [{:chassis :infantry :loadout :oldworld-weapons}
           {:chassis :infantry :loadout :engineering}]
   :improvement :stockpile}}]
