[{:id :infantry
  :moves 1
  :traits #{:infantry}}
 {:id :speeder
  :moves 3}
 {:id :hovertank
  :moves 3
  :traits #{:hover}}
 {:id :mech-walker
  :moves 3
  :traits #{:infantry}}
 {:id :worm-swarm
  :moves 1
  :traits #{:fauna :infantry :psychic}}
 {:id :loper
  :moves 3
  :traits #{:fauna}}
 {:id :myrmidon
  :moves 3
  :traits #{:fortified :fauna :honed}}
 {:id :troll
  :moves 3
  :traits #{:fortified :troll :fauna}}]
