[{:id :infantry
  :moves 1
  :traits #{:infantry}}
 {:id :speeder
  :moves 3}
 {:id :hovertank
  :moves 3
  :traits #{:hover}}
 {:id :mech-walker
  :moves 3
  :traits #{:infantry}}
 {:id :worm-swarm
  :moves 1
  :traits #{:fauna :infantry :psychic}}
 {:id :loper
  :moves 3
  :traits #{:fauna}}
 {:id :arachnodon
  :moves 3
  :traits #{:fauna :infantry :hover}}
 {:id :rust-wyrm
  :moves 3
  :traits #{:fortified :fauna :honed :hover}}
 {:id :bowerholm
  :moves 2
  :traits #{:fortified :fauna :resilient :psychic}}
 {:id :troll
  :moves 3
  :traits #{:fortified :fauna :troll}}
 {:id :planet-marine
  :moves 2
  :traits #{:fortified :infantry}}]
