[{:ideology :industry
  :level 1
  :id :fiduciary-duty
  :flavor "Put another way, the right of first refusal must advance a valid corporate purpose.  [The owners] have sought to control [the firm]'s stockholder composition for their personal and sentimental benefit at [the shareholder]'s expense. Thus, it fails the price element of the entire fairness test and does not advance a proper corporate purpose.
                -- Domestic Hldgs., Inc. v. Newmark (2010)"
  :grants {:wonders [:externalities-market]}
  :modifies
  {:improvements
   {:farm
    {:food 1
     :impact 1}
    :factory
    {:materials 1
     :impact 1}
    :reactor
    {:energy 1
     :impact 1}}}}
 {:ideology :industry
  :level 1
  :id :colonialism
  :grants {:loadouts [:settler]
           :abilities [:purge-miasma :cull-fungus]}}
 {:ideology :industry
  :level 2
  :id :luxury-of-privacy
  :grants {:actions [:construct-dome]}}
 {:ideology :industry
  :level 2
  :id :just-in-time-logistics
  :modifies
  {:improvements
   {:stockpile
    {:capacity 10}}}}
 {:ideology :industry
  :level 2
  :id :first-to-market
  :modifies {:actions 1}}]