{:id :yip
 :class :guardian
 :row :front
 :growth
 {:prowess 4
  :alacrity 1
  :vigor 5
  :spirit 3
  :focus 2
  :luck 3
  :scales 1
  :squish 1}
 :proficiencies
 {:weapons #{:sword :axe}
  :armor #{:medium :heavy}}
 :equipped
 {:weapon :sword
  :armor :splint}
 :abilities
 [[:power-break :shield-bash :defensive-stance]
  [:focus-break :goad :fire-slash]
  [:dragon-heart :spirit-break :ice-slash]
  [:giantslayer :armor-break :radiant-stance]
  [:dragon-tail :dread-roar :juggernaut]]}
